<p>cart works!</p>
<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let item of cartItems">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{item.productName}}</h5>
        <p class="card-text">{{item.price}}</p>
        <button class="btn btn-success" (click)="addToOrders(item)">Proceed to Buy</button>

        <div class="card-footer">
          <button class="btn btn-primary" (click)="remove(item._id)">Remove from Cart</button>
        </div>


      </div>
    </div>
  </div>
</div>